body {
  background-color:white;
}

.container h1{
  color: black;
}

header.sticky {
  display: flex;
  justify-content: right;
  align-items: right;
}


.container3{
  text-align: end;
  justify-content: space-between;
}

.App {
  text-align: center;
  
}

header {
  height: 5.1075rem;
}

a.button.active {
  border: 1px solid var(--fore-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: white;
}


.Rumah{
  background-color: white;
  gap: 10px;
}

.card {
  border-radius: 10px;
}





























































































































































































































